{% extends 'base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block body %}
<div class="container">
    <h1>Регистрация в сервисе</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form method="post">
      <label>E-mail</label>
        <input type="email" name="email" class="form-control" placeholder="Введите e-mail"><br>
      <label>Пароль</label>
        <input name="password" id="password" type="password" class="form-control" placeholder="Введите пароль"><br>
        <a type="submit" class="btn btn-success"> Зарегистрироваться></a><br>
        <a type="submit" class="btn btn-primary" href="{{ url_for('auth') }}">Войти</a>
    </form>
</div>
{% endblock %}


